function Box.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
call Box.draw 1
pop temp 0
push pointer 0
return
function Box.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Box.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
push this 0
push constant 512
push this 1
call Math.multiply 2
add
call Box.drawpixcel 2
pop temp 0
push constant 0
return
function Box.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
push this 0
push constant 512
push this 1
call Math.multiply 2
add
call Box.drawpixcel 2
pop temp 0
push constant 0
return
function Box.drawpixcel 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 30655
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30589
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 28539
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 24443
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 24311
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24303
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 24029
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15325
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15291
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 30583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 30447
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 28399
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 28127
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
