function Rectangle.new 3
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push this 2
push this 0
sub
push this 3
push this 1
sub
call Math.multiply 2
pop this 4
push this 4
push constant 10
add
call Array.new 1
pop this 5
push this 0
pop local 0
push constant 0
pop local 2
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push this 1
pop local 1
label WHILE_EXP1
push local 1
push this 3
lt
not
if-goto WHILE_END1
push local 2
push this 5
add
push local 0
push local 1
call Box.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function Rectangle.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 4
lt
not
if-goto WHILE_END0
push local 0
push this 5
add
pop pointer 1
push that 0
pop local 1
push local 1
call Box.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Rectangle.erase 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 4
lt
not
if-goto WHILE_END0
push local 0
push this 5
add
pop pointer 1
push that 0
pop local 1
push local 1
call Box.erase 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Rectangle.getX 0
push argument 0
pop pointer 0
push this 0
return
function Rectangle.getY 0
push argument 0
pop pointer 0
push this 1
push constant 16
call Math.multiply 2
return
function Rectangle.getXend 0
push argument 0
pop pointer 0
push this 2
return
function Rectangle.getYend 0
push argument 0
pop pointer 0
push this 3
push constant 16
call Math.multiply 2
return
